html, body, footer{
    font-family: 'Sen', sans-serif;
    background-color: rgb(238, 238, 238);
    overflow-y: hidden ;
}

:root{
    --laranja: #E08F43;
    --rosa: #CD4E93;
    --degrade: linear-gradient(#E08F43, #CD4E93);
}